telethon
aiofiles
aiohttp
apscheduler
cairosvg
cloudscraper
colour
covid
cowpy
dataclasses
pyminizip
DateTime
emoji
fonttools
geopy
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gtts
hachoir
heroku3
html-telegraph-poster
google-auth-oauthlib
gsearch
gtts
hachoir
heroku3
html-telegraph-poster
humanize
jotquote
justwatch
kwot
lottie
lxml
jikanpy
lyricsgenius
markdown
motor
flask
gunicorn
patool
Pillow
prettytable
psutil
pyfiglet
PyGithub
programmingquotes
pygments
psycopg2-binary
pylast
pymediainfo
pySmartDL
python-barcode
pyTelegramBotAPI==3.7.7
pytuneteller
pytz
qrcode
wget
urlextract
IMDbPY
ShazamAPI
search-engine-parser
selenium
spamwatch
sqlalchemy==1.3.23
sqlalchemy-json
telegraph
tgcrypto
tswift
PyMuPDF
validators
vcsi
Wand>=0.6.11
wikipedia
ujson

git+https://github.com/sandy1709/Telethon@beta
git+https://github.com/goldsmith/Wikipedia
git+https://github.com/sandy1709/py-googletrans
git+https://github.com/alexmercerind/youtube-search-python
